.descriptionWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.descriptText {
  color: var(--color-gray);
}

.descriptSpan {
  color: var(--primary-color-bl);
}

@media screen and (min-width: 768px) {
  .descriptionWrapper {
    margin-bottom: 32px;
  }

  .descriptText,
  .descriptSpan {
    font-size: 16px;
    line-height: 150%;
  }
}

@media screen and (min-width: 1440px) {
  .descriptionWrapper {
    margin-bottom: 40px;
  }
}
