.navLinksWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  margin-top: auto;
  margin-bottom: auto;
}

.linkWrapper {
  background-color: var(--color-white);
  border: 1.15px solid var(--color-gray-border);
  padding: 8px;
  border-radius: 60px;
  position: relative;
}

.link {
  padding: 8px 20px;
  color: var(--color-gray-header);
  border-radius: 60px;
  font-size: 14px;
  line-height: 100%;
  display: block;
}

.link:hover,
.active {
  background-color: var(--color-green);
  color: var(--color-white);
}

@media screen and (min-width: 1440px) {
  .navLinksWrapper {
    flex-direction: row;
  }
}
