.addProductWrapper {
  display: flex;
  gap: 12px;
  justify-content: center;
  border: 1px solid rgba(29, 30, 33, 0.1);
  border-radius: 60px;
  width: 108px;
  padding: 12px 18px;
}

.cartAddProdWrpr {
  padding: 7px 14px;
  width: 95px;
}

.addIcon {
  width: 20px;
  height: 20px;
  color: var(--color-green);
}

.disabled {
  color: rgba(29, 30, 33, 0.5);
  cursor: auto;
}
