.authWrapper {
  margin-block: 25px 0;
  position: relative;
  overflow: hidden;
}

.logoLink {
  display: flex;
  gap: 12px;
  align-items: center;
  transform-origin: center;
  margin-bottom: 50px;
}

.logoImg {
  width: 32px;
  height: 32px;
  content: var(--image-logo-mobile-green);
}

@media screen and (min-resolution: 192dpi) {
  .logoImg {
    content: var(--image-logo-mobile-green2x);
  }
}

.logoSpan {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.03em;
  text-decoration: none;
  color: var(--primary-color-bl);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 54px;
  padding-bottom: 191px;
}

.authTtl {
  font-size: 28px;
  line-height: 121%;
  text-align: start;
  padding-top: 56px;
  color: var(--primary-color-bl);
  background-image: var(--bg-image-round-pill);
  background-repeat: no-repeat;
  background-size: 95px 93px;
  background-position: calc(100% - 30px) top;
}

.ttlSpan {
  color: var(--color-green);
}

.blocksIcon {
  position: absolute;
  bottom: -25px;
  right: -50px;
}

@media screen and (min-width: 768px) {
  .authWrapper {
    margin-top: 28px;
  }

  .logoLink {
    gap: 14px;
    margin-bottom: 64px;
  }

  .logoImg {
    width: 44px;
    height: 44px;
    content: var(--image-logo-desktop-green);
  }

  .logoSpan {
    font-size: 20px;
  }

  .contentWrapper {
    padding-bottom: 250px;
  }

  .authTtl {
    font-size: 54px;
    line-height: 111%;
    width: 614px;
    background-size: 179px 175px;
    padding-top: 105px;
    background-position: calc(100% - 50px) top;
  }

  .blocksIcon {
    width: 400px;
    height: 300px;
    bottom: -10px;
    right: -70px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .logoImg {
    content: var(--image-logo-desktop-green2x);
  }
}

@media screen and (min-width: 1440px) {
  .authWrapper {
    margin-inline: 0;
    padding-inline: 100px;
  }

  .logoLink {
    margin-bottom: 122px;
  }

  .contentWrapper {
    flex-direction: row;
    align-items: flex-end;
    gap: 150px;
    padding-bottom: 262px;
  }
}
