.addInfoWrapper {
  border-radius: 27px;
  background-color: var(--color-white);
  padding: 20px;
}

.btnsWrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

.addInfoBtn {
  padding: 8px 25px;
  letter-spacing: -0.05em;
  background-color: rgba(89, 177, 122, 0.1);
  color: var(--color-green);
}

.addInfoBtn:hover,
.active {
  color: var(--color-white);
  background-color: var(--color-green);
}

.active:hover {
  border-color: transparent;
  background-color: var(--color-green-hover);
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

@media screen and (min-width: 768px) {
  .addInfoWrapper {
    padding: 32px;
  }

  .btnsWrapper {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .addInfoWrapper {
    padding: 40px;
  }

  .btnsWrapper {
    margin-bottom: 40px;
  }
}
