.filtersWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inputWrapper {
  position: relative;
}

.searchInput {
  background-color: #ffffff;
  border: 1px solid rgba(29, 30, 33, 0.1);
  padding: 13px 18px;
  border-radius: 60px;
  font-size: 12px;
  line-height: 150%;
  color: rgba(29, 30, 33, 0.4);
  width: 335px;
}

.searchInput::placeholder {
  color: rgba(29, 30, 33, 0.4);
}

.searchIcon {
  position: absolute;
  top: 14px;
  right: 18px;
  width: 16px;
  height: 16px;
}

.filterBtn {
  width: 116px;
  padding: 13px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.filterIcon {
  width: 16px;
  height: 16px;
}
