.productsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.prodItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.imgWrapper {
  width: 335px;
  height: 300px;
  border: 1.15px solid rgba(89, 177, 122, 0.6);
  border-radius: 20px;
  padding: 14px 18px;
}

.image {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productInfoWrapper {
  padding: 20px;
  border-radius: 20px;
  background-color: var(--color-white);
}

.firstRowWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.productName,
.price {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: var(--primary-color-bl);
}

.supplier {
  font-size: 12px;
  line-height: 150%;
  color: rgba(29, 30, 33, 0.6);
  margin-bottom: 17px;
}

.btnAndLinkWrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.productBtn {
  border-radius: 24px;
  padding: 10px;
  width: 108px;
}

.productLink {
  font-size: 12px;
  line-height: 150%;
  text-decoration: underline;
  color: var(--primary-color-bl);
}

.productLink:hover {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .productsWrapper {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 13px;
  }

  .prodItem {
    width: calc((100% - 13px * 2) / 3);
  }

  .imgWrapper {
    width: 226px;
    height: 260px;
  }

  .productName,
  .price {
    font-size: 18px;
  }

  .productName {
    width: 110px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .price {
    display: block;
    width: 68px;
  }

  .supplier {
    margin-bottom: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .productsWrapper {
    row-gap: 40px;
    column-gap: 21px;
  }

  .prodItem {
    width: calc((100% - 21px * 3) / 4);
  }

  .imgWrapper {
    width: 100%;
    height: 100%;
  }

  .productName {
    width: inherit;
  }

  .productName,
  .price {
    font-size: 18px;
  }
}
