.selectWrapper {
  position: relative;
}

.customSelect {
  background-color: #ffffff;
  border: 1px solid rgba(29, 30, 33, 0.1);
  padding: 13px 18px;
  border-radius: 60px;
  font-size: 12px;
  line-height: 150%;
  color: rgba(29, 30, 33, 0.4);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.arrowIcon {
  width: 16px;
  height: 16px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 164px;
  border-radius: 12px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 4px;
  padding: 14px;
  font-weight: 500;
  font-size: 13px;
  line-height: 111%;
  color: rgba(18, 20, 23, 0.2);
  z-index: 10;
}

.selectItem {
  cursor: pointer;
}

.option {
  cursor: pointer;
}

.option.selected {
  color: #121417;
}

@media screen and (min-width: 768px) {
  .customSelect {
    width: 214px;
  }

  .dropdown {
    width: 200px;
    gap: 8px;
    font-size: 14px;
  }
}
