.selectWrapper {
  position: relative;
}

.customSelect {
  background-color: var(--color-white);
  border: 1px solid rgba(29, 30, 33, 0.1);
  padding: 13px 18px;
  border-radius: 60px;
  font-size: 12px;
  line-height: 150%;
  color: rgba(29, 30, 33, 0.4);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.arrowIcon {
  width: 16px;
  height: 16px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 30px;
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 4px;
  padding: 13px;
  font-size: 12px;
  line-height: 150%;
  color: rgba(29, 30, 33, 0.4);
  border: 1px solid rgba(29, 30, 33, 0.1);
  z-index: 9;
}

.selectItem {
  cursor: pointer;
}

.option {
  cursor: pointer;
}

.option.selected {
  color: var(--primary-color-bl);
}

@media screen and (min-width: 768px) {
  .customSelect {
    width: 214px;
  }

  .dropdown {
    width: 214px;
  }
}
