*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f7f8fa;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

a {
  font-size: 12px;
  line-height: 150%;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

section {
  margin: 60px 20px;
}

@media screen and (min-width: 768px) {
  section {
    margin-inline: 32px;
  }
}

@media screen and (min-width: 1440px) {
  section {
    margin-inline: 96px;
  }
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 114%;
  text-align: center;
  color: var(--main-color-bl);
}

p {
  font-size: 12px;
  line-height: 150%;
}

button {
  border-radius: 60px;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  font-family: inherit;
  color: var(--color-white);
  background-color: var(--color-green);
  cursor: pointer;
  transition: 250ms;
}

button:hover {
  color: #3f945f;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

#root {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;

  --primary-color-bl: #1d1e21;
  --secondary-color-bl: #252539;
  --color-gray: #6a6a6f;
  --color-gray-header: #93939a;
  --color-gray-border: #d9d9d9;
  --color-white: #ffffff;
  --color-footer: #f7f8fa;
  --color-red: #e85050;
  --color-green: #59b17a;
  --color-light-green: #e7f1ed;
  --bg-white: #f1f1f1;

  --image-logo-mobile-green: url(./assets/images/logo-mobile-green.png);
  --image-logo-mobile-green2x: url(./assets/images/logo-mobile-green@2x.png);
  --image-logo-desktop-green: url(./assets/images/logo-desktop-green.png);
  --image-logo-desktop-green2x: url(./assets/images/logo-desktop-green@2x.png);

  --image-logo-mobile-white: url(./assets/images/logo-mobile-white.png);
  --image-logo-mobile-white2x: url(./assets/images/logo-mobile-white@2x.png);
  --image-logo-desktop-white: url(./assets/images/logo-desktop-white.png);
  --image-logo-desktop-white2x: url(./assets/images/logo-desktop-white@2x.png);

  --image-hero: url(./assets/images/hero.png);
  --image-hero2x: url(./assets/images/hero@2x.png);
  --bg-image-round-pill: url(./assets/images/round-pill.png);
  --bg-image-tablets: url(./assets/images/tablets.png);
  --image-stars: url(./assets/images/stars.png);
  --image-stars2x: url(./assets/images/stars@2x.png);

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

@media screen and (min-width: 768px) {
  #root {
    max-width: 768px;
  }
}

@media screen and (min-width: 1440px) {
  #root {
    max-width: 1440px;
  }
}
