.sectionTtl {
  font-size: 28px;
  line-height: 114%;
  width: 291px;
  color: var(--primary-color-bl);
  margin-inline: auto;
  margin-bottom: 14px;
}

.sectionText {
  color: var(--color-gray-header);
  text-align: center;
  margin-bottom: 64px;
}

.nearestStoresList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .sectionTtl {
    font-size: 40px;
    line-height: 120%;
    width: 552px;
  }

  .nearestStoresList {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .nearestStoresList {
    row-gap: 38px;
    column-gap: 36px;
  }
}
