.sectionTtl {
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  color: var(--primary-color-bl);
  margin-inline: auto;
  margin-bottom: 14px;
}

.sectionText {
  font-size: 16px;
  line-height: 125%;
  color: var(--color-gray-header);
  margin-inline: auto;
  width: 351px;
  margin-bottom: 64px;
}

.nearestStoresList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .nearestStoresList {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .nearestStoresList {
    row-gap: 38px;
    column-gap: 36px;
  }
}
